/** @format */

.navbarComponent {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  padding: 1rem 0;

  .navHeader {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;

      h2 {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
      }
    }
  }

  .navBody {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .srarch {
      display: flex;
      width: 60%;

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1rem;

        &:focus {
          outline: none;
        }
      }

      .btnSearch {
        background-color: white;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 0.5rem;

        svg {
          color: black;
          font-size: 1.5rem;
        }
      }
    }

    .cart {
      position: relative;
      svg {
        font-size: 2em;
        color: white;
        cursor: pointer;
      }

      .numbarCart {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-size: 0.8rem;
        background-color: white;
        border-radius: 100%;
        padding: 0.2rem 0.3rem;
      }
    }
  }

  .navFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    span {
      font-size: 1.2rem;
      color: white;
    }

    svg {
      font-size: 1.5rem;
      color: red;
      cursor: pointer;
    }
  }
}
